March/3-23-2023-day-1/__pycache__/
March/3-25-2023-day-3/__pycache__/
March/3-26-2023-day-4/__pycache__/
.vscode/
March/3-27-2023-day-5/__pycache__/
works-in-progress/
March/3-28-2023-day-6/__pycache__/
March/3-30-2023-day-8/__pycache__/
March/3-31-2023-day-9/__pycache__/
April/4-1-2023-day-10/__pycache__/
April/4-4-2023-day-13/__pycache__/
