body {
    background: #282D35;
}

.nav {
    background-color: #21222A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 30px 25px;
    font-family: 'inter', sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-img {
    height: 40px;
}

.logo-text {
    font-weight: 700;
    font-size: 23px;
    width: 50%;
    color: #61DAFB;
}

.page-name {
    font-weight: 600;
    width: 50%;
    text-align: right;
    color: #DEEBF8;
}

.wrapper {
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 57px 27px 0;
    background-image: url(Images/reactjs-icon2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main-title {
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.main-facts {
    margin: 35px 0;
}

.main-facts li {
    margin-bottom: 3px;
}

.main-facts li::marker {
    color: #61DAFB;
    font-size: 1.8rem;
}

footer {
    align-self: bottom;
}
