body {
    background: #282D35;
}

.nav {
    background-color: #21222A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 30px 25px;
    font-family: 'inter', sans-serif;
}

.logo-img {
    height: 40px;
}

.logo-text {
    font-weight: 700;
    font-size: 23px;
    width: 50%;
    color: #61DAFB;
}

.page-name {
    font-weight: 600;
    width: 50%;
    text-align: right;
    color: #DEEBF8;
}

.wrapper {
    color: white;
    font-family: 'Inter', sans-serif;
}

footer {
    align-self: bottom;
}
